.cart-item {
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(88, 87, 87);
    padding: 2rem 0.5rem;
    margin-bottom: 0.2rem;
}
.cart-total {
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(88, 87, 87);
    padding: 2rem 0;
}