.cart {
    position: relative;
}
.badge {
    position: absolute;
    top: 0;
    left: 100;

}
/* @media only screen and (min-width: 768px) {
    .login, .logout {
        margin-left: 1rem;
    }
} */